header{
width: 850px;
height: 225px;
background: #3c5a99;
margin: auto;   
}
#pfp{
    width: 150px;
    height: 150px;
    background: #3c5a99;
    border: black;
    border-style: solid;
    border-width: 1px;
    z-index: 1;
    position: relative;
    top: 100px;
    left: 25px;


}
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 223, 233);    
    display: flex;
    flex-direction: column;
    align-items: center
}
nav{
    height: 50px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.navButton{
    position: static;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 15px;
    position: relative;
    top: 15px;  

}
.navButton:hover {
font-weight: bold;
text-decoration: underline;

  transition-duration: 0.4s;
}
#timeline{
margin-left: 200px;
}
h2{
    color: white;
position: relative;
bottom: 10px;
left: 200px;

}
h4{
    color: white;
    position: relative;
    bottom: 27px;
    left: 200px;


}
#dropbtn {

  color: black;

  font-size: 15px;
  border: none;
  cursor: pointer;
}


#dropbtn:hover, #dropbtn:focus {
font-weight: bold;
text-decoration: underline;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.interact{
    position: relative;
    bottom: 70px;
    left: 625px;
    border: none;

}
#follow, #message, #dots{
    padding: 5px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 850px;
}
.column {
    margin-top: 10px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    text-align: left;
}
#left {
    height: 175px;
    width: 328px;
    margin-bottom: 225px;
}
.left-content {
    margin-left: 15px;
    margin-right: 25px;
}
#right {
    height: 200px;
    width: 512px;
    margin-bottom: 200px;
}
.right-content {
    margin-left: 15px;
}
#post-name {
    margin-bottom: 5px;
}
h6 {
    margin: 0px;
    font-weight: lighter;
    color: grey;
}
.post-button {
    position: relative;
    border: none;
    background-color: rgb(231, 228, 228)
}
#like-button {
    color: #3c5a99;
    margin-left: 15px;
    padding: 0px;
}
#comment {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#share {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#post-actions {
    position: relative;
    top: 30px;
    background-color: rgb(231, 228, 228);
    height: 40px;
    border-top: 1px solid rgb(204, 202, 202);
}